body {
  font: normal 400 16px/1.5 "Raleway", Arial, Helvetica, sans-serif;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
small {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  font-variant: lining-nums;
}

p {
  font: normal 400 1em/1.75 "Raleway", Arial, Helvetica, sans-serif;
  font-variant: lining-nums;
  letter-spacing: 0.03em;
}

.title-main {
  font: 900 4.5em/1.2 "Raleway", Arial, Helvetica, sans-serif;
  margin-bottom: 1.9rem;
  font-variant: lining-nums;
  letter-spacing: 5px;
}

.title {
  font: 300 1.53em/1.5 "Raleway", Arial, Helvetica, sans-serif;
  font-variant: lining-nums;
  letter-spacing: 1px;
}

.title-submain {
  font: 900 2.7em/1.2 "Raleway", Arial, Helvetica, sans-serif;
  font-variant: lining-nums;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.title,
.title-main,
.title-submain,
.subtitle {
  text-transform: uppercase;
}

.subtitle {
  font: 300 1.1em/1.5 "Raleway", Arial, Helvetica, sans-serif;
  margin-bottom: 0.9rem;
  font-variant: lining-nums;
}

.bold {
  font-weight: bold;
}

.header,
section,
.wrapper,
.flex,
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.header,
section,
.footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  padding: 50px 0;
}

.wrapper {
  max-width: 1210px;
  padding: 0 3%;
}

.full {
  width: 100%;
}

.one-of-four {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}
.one-of-four.mx-w {
  max-width: 25%;
}

.two-of-four {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.two-of-four.mx-w {
  max-width: 50%;
}

.three-of-four {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
}
.three-of-four.mx-w {
  max-width: 75%;
}

.one-of-three {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
}
.one-of-three.mx-w {
  max-width: 33%;
}

.two-of-three {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.66%;
          flex: 1 1 66.66%;
}
.two-of-three.mx-w {
  max-width: 66%;
}

.one-of-five {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.two-of-five {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}
.two-of-five.mx-w {
  max-width: 40%;
}

.three-of-five {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

.four-of-five {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 77%;
          flex: 1 1 77%;
}

.one-of-six {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 16%;
          flex: 1 1 16%;
}
.one-of-six.mx-w {
  max-width: 16%;
}

.w-auto {
  width: auto;
  padding: 0 1rem;
}

.full,
.one-of-four,
.two-of-four,
.three-of-four,
.one-of-three,
.two-of-three,
.one-of-five,
.two-of-five,
.three-of-five,
.four-of-five,
.one-of-six {
  padding: 0 1rem;
}

.v-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.v-bot {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.f-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.f-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.f-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.f-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.np {
  padding: 0;
}

.p-right {
  padding: 0 1rem 0 0;
}

.no-wrp {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: 900 0.9em/1.5 "Raleway", Arial, Helvetica, sans-serif;
  background: #fff;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
  padding: 1.35rem 3rem;
  color: #000;
  width: auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  color: #ac7f55;
}
.btn.disable {
  background: #000;
}
.btn.neutral {
  background: none;
  border: 2px solid #ac7f55;
}
.btn.neutral:hover {
  background: #000;
}

.line-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-right: 2rem;
  font: 900 0.9em/1.5 "Raleway", Arial, Helvetica, sans-serif;
  color: #545454;
}
.line-btn::after {
  content: "" url("../img/arrow.svg");
  position: absolute;
  top: 0;
  right: 5px;
  height: 15px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list > li {
  padding: 0.5rem;
}

.flex-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.np-list > li {
  padding: 0;
}

.list-two-items > li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.list-three-items > li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
}

.list-four-items > li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

img,
svg {
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 25px;
  max-width: 25px;
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25px;
          flex: 0 0 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.icon img,
.icon svg {
  width: 100%;
}

.img-wrp {
  width: 100%;
  margin-bottom: 1rem;
}
.img-wrp img,
.img-wrp svg {
  width: 100%;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.burger-wrp {
  display: none;
  padding: 0 1rem;
}

.burger {
  width: 21px;
  height: 1rem;
  position: relative;
  cursor: pointer;
}
.burger span {
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.burger-line {
  position: absolute;
  left: 0;
}
.burger-line:first-of-type {
  top: 0;
}
.burger-line:nth-of-type(2) {
  top: calc(50% - 1px);
}
.burger-line:last-of-type {
  bottom: 0;
}

.burger.active .burger-line:first-of-type {
  top: 40%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger.active .burger-line:nth-of-type(2) {
  opacity: 0;
}
.burger.active .burger-line:last-of-type {
  bottom: 48%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.socials > li {
  margin: 0 1.4rem 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials > li:last-of-type {
  margin-right: 0;
}
.socials a {
  min-width: 50px;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #ac7f55;
}
.socials a:hover svg {
  fill: #ac7f55;
}
.socials svg {
  fill: #ac7f55;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.dropdown-wrp {
  position: relative;
  cursor: pointer;
}
.dropdown-wrp:hover .dropdown {
  max-height: 10rem;
  z-index: 1;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  background: #000;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}
.dropdown a {
  display: block;
  padding: 0.3rem;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}
.dropdown a:hover {
  background: #ac7f55;
}

.breadcrumbs > li {
  padding: 0;
  margin-right: 0.4rem;
}
.breadcrumbs > li::after {
  content: "/";
  padding: 0.4rem;
  opacity: 0.5;
}
.breadcrumbs > li:last-of-type::after {
  content: none;
}
.breadcrumbs > li:last-of-type a {
  opacity: 1;
}
.breadcrumbs > li a {
  font: 400 0.87em/1.5 "Raleway", Arial, Helvetica, sans-serif;
  opacity: 0.5;
}
.breadcrumbs > li a:hover {
  opacity: 1;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem 0;
}
.pagination > li {
  margin: 5px;
}
.pagination > li a {
  font: 700 0.87em/1.5 "Raleway", Arial, Helvetica, sans-serif;
  opacity: 0.5;
  padding: 10px;
}
.pagination > li a:hover, .pagination > li a.active {
  opacity: 1;
}

.header {
  padding: 1.25rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
}
.header .logo {
  padding: 0 1rem;
}

.logo {
  min-width: 50px;
  max-width: 170px;
  width: 100%;
}
.logo img,
.logo svg {
  width: 100%;
}

section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right-bg-block {
  position: relative;
}
.right-bg-block::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 95%;
  background: #f3f3f3;
  z-index: -1;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__nav,
.lang-contacts {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}
.header__nav a {
  padding: 0.5rem;
}

.lang-contacts {
  padding: 0 1rem;
}
.lang-contacts .list {
  width: auto;
}

.phone-btn {
  font-weight: bold;
  padding: 0 0.3rem;
  margin-left: 0.5rem;
}

.first-screen-home {
  position: relative;
  padding-top: 6rem;
}
.first-screen-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: url("../img/fs.jpg") no-repeat left center;
  background-size: cover;
  z-index: -1;
}
.first-screen-home .img-wrp {
  position: relative;
  z-index: 10;
}
.first-screen-home .img-wrp .btn {
  position: absolute;
  bottom: -2rem;
  right: 2rem;
}

.info-box-top {
  margin-bottom: 2.5rem;
}
.info-box-top .socials {
  padding: 1.5rem 0 0 0;
}

.info-box-bot {
  margin-bottom: 2.3rem;
}

.points > li {
  padding: 0 2rem 0 0;
  position: relative;
}
.points > li:not(:last-of-type)::after {
  content: "" url("../img/logo-mini.svg");
  position: absolute;
  top: 2.5px;
  right: 8px;
}
.points p {
  font: 300 1.1em/1.5 "Raleway", Arial, Helvetica, sans-serif;
  margin-bottom: 0.9rem;
  font-variant: lining-nums;
  text-transform: uppercase;
}

.right-bg-block .img-wrp {
  position: relative;
}
.right-bg-block .img-wrp::before {
  content: "";
  position: absolute;
  top: -60%;
  right: -46%;
  width: 80%;
  height: 100%;
  background: #f3f3f3;
  z-index: 2;
}
.right-bg-block p {
  margin-bottom: 2.5rem;
}

.information {
  padding: 1.9rem;
  background: #f3f3f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.information .headline {
  font: 900 1em/1.5 "Raleway", Arial, Helvetica, sans-serif;
  color: #545454;
}

.entertainment .img-wrp {
  position: relative;
}
.entertainment .information {
  position: absolute;
  bottom: 0;
  right: 1rem;
  max-width: 80%;
}

.contacts {
  background: #2c2c2c;
  color: #fff;
  padding: 50px 0;
  margin-bottom: 2.3rem;
}

.contacts p,
.contacts .logo,
.contacts .socials,
.footer-info p,
.footer-info .logo,
.footer-info .socials {
  margin-bottom: 1rem;
}

.footer-policy {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.footer-policy p {
  font-size: 0.9em;
}

iframe {
  width: 100%;
  height: 100%;
  position: relative;
  top: 5rem;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.myCopy {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
  margin-bottom: 35px;
}
.myCopy img {
  width: 15px;
}
.myCopy img,
.myCopy a {
  margin: 0 7px;
}
.myCopy a {
  font-weight: 900;
  text-transform: uppercase;
}
.myCopy a:hover {
  opacity: 1;
}
.myCopy p,
.myCopy img,
.myCopy a {
  opacity: 0.6;
}