section
  justify-content: center

.right-bg-block
  position: relative
  &::before
    content: ""
    position: absolute
    top: 0
    right: 0
    width: 90%
    height: 95%
    background: $bg-color
    z-index: -1

.header__menu
  flex: 1 1 auto
  display: flex
  flex-wrap: wrap

.header__nav,
.lang-contacts
  padding: 0 1rem
  display: flex
  flex-wrap: wrap
  flex: 1 1 auto
  align-items: center
  justify-content: space-between

.header__nav
  flex-grow: 10
  a
    padding: .5rem

.lang-contacts
  padding: 0 1rem
  .list
    width: auto

.phone-btn
  font-weight: bold
  padding: 0 .3rem
  margin-left: .5rem

.first-screen-home
  position: relative
  padding-top: 6rem
  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 60%
    background: url("../img/fs.jpg") no-repeat left center
    background-size: cover
    z-index: -1
  .img-wrp
    position: relative
    z-index: 10
    .btn
      position: absolute
      bottom: -2rem
      right: 2rem
    // background-attachment: fixed


.info-box-top
  margin-bottom: 2.5rem
  .socials
    padding: 1.5rem 0 0 0

.info-box-bot
  margin-bottom: 2.3rem

.points
  > li
    padding: 0 2rem 0 0
    position: relative
    &:not(:last-of-type)
      &::after
        content: "" url("../img/logo-mini.svg")
        position: absolute
        top: 2.5px
        right: 8px
  p
    font: 300 1.1em/1.5 $main-font
    margin-bottom: .9rem
    font-variant: lining-nums
    text-transform: uppercase

.right-bg-block
  .img-wrp
    position: relative
    &::before
      content: ""
      position: absolute
      top: -60%
      right: -46%
      width: 80%
      height: 100%
      background: $bg-color
      z-index: 2
  p
    margin-bottom: 2.5rem

.information
  padding: 1.9rem
  background: $bg-color
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  .headline
    font: 900 1em/1.5 $main-font
    color: #545454

// entertainment
.entertainment
  .img-wrp
    position: relative
  .information
    position: absolute
    bottom: 0
    right: 1rem
    max-width: 80%

// contacts
.contacts
  background: #2c2c2c
  color: $color-text-two
  padding: 50px 0
  margin-bottom: 2.3rem

.contacts,
.footer-info
  p,
  .logo,
  .socials
    margin-bottom: 1rem

.footer-policy
  padding: 50px 0
  display: flex
  flex-flow: column wrap
  align-items: center
  text-align: center
  p
    font-size: .9em

iframe
  width: 100%
  height: 100%
  position: relative
  top: 5rem
  border: none
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)



@import myc
