.header
  padding: 1.25rem 0
  justify-content: center
  position: fixed
  top: 0
  left: 0
  z-index: 30
  width: 100%
  .logo
    padding: 0 1rem

.logo
  min-width: 50px
  max-width: 170px
  width: 100%
  img,
  svg
    width: 100%
