@media (min-width: 1048px) and (max-width: 1720px)


@media (max-width: 1440px)

/* For tablets */
@media (max-width: 1048px)
  // general
  .list-two-items,
  .list-three-items,
  .list-four-items
    > li
      flex: 1 1 50%
      width: 50%
      max-width: 50%
      margin-bottom: 1rem

/* For small tables */
@media (max-width: 900px)

/* For mobile */
@media (max-width: 680px)
  // general
  .one-of-three,
  .two-of-three,
  .one-of-four,
  .two-of-four,
  .three-of-four
    flex: 1 1 100%
    width: 100%
    &.mx-w
      max-width: none


  .list-three-items,
  .list-four-items
    > li
      flex: 1 1 100%
      width: 100%
      max-width: none
      padding: 0
      margin-bottom: 1.9rem
