h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
small
  box-sizing: border-box
  font-feature-settings: 'pnum' on, 'lnum' on
  font-variant: lining-nums

p
  font: normal 400 1em/1.5 $main-font
  font-variant: lining-nums


.title-main
  font: 900 2.3em/1.5 $main-font
  margin-bottom: 1.9rem
  font-variant: lining-nums

.title
  font: 700 1.55em/1.5 $main-font
  margin-bottom: 1.4rem
  font-variant: lining-nums

.subtitle
  font: 700 1.125em/1.5 $main-font
  margin-bottom: .9rem
  font-variant: lining-nums

.link
  font: normal 700 1em/1.5 $main-font
  font-variant: lining-nums

.info
  font: normal 400 .912em/1.5 $main-font
  font-feature-settings: 'pnum' on, 'lnum' on
  font-variant: lining-nums

.notice
  font-size: .8em

.bold
  font-weight: bold
