$main-color: #ac7f55
$main-font: 'Raleway', Arial, Helvetica, sans-serif

$color-one: #000
$color-grey: #fff

$color-text-one: #000
$color-text-two: #fff

$btn-bg: #fff
$btn-hover: #000

$alert: #000

$bg-color: #f3f3f3

=animate
  transition: .3s linear all

body
  font: normal 400 16px/1.5 $main-font
  color: #000

a
  text-decoration: none
  color: inherit


@import typography

@import layout

// @import form

@import button

@import list

// @import modal

@import component

@import header

// @import app-layout

@import app-content

// @import media
